<nav class="navbar navbar-expand-lg navbar-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="/home">DemoCompany</a>

        <button class="navbar-toggler" style="margin-right:5px !important;" type="button" data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse top_nav" id="navbarSupportedContent">
            <ul class="navbar-nav mx-auto ">
                <li class="nav-item "><a href="/home" class="nav-link">Home</a>
                </li>
            </ul>
            <ul class="navbar navbar-nav navbar-right" style="display:flex;">
                <li class="nav-item "><a href="/user/sign-in" class="nav-link">Sign in</a>
                </li>
            </ul>
        </div>
    </div>
</nav>